[submodule "themes/JuiceBar"]
	path = themes/JuiceBar
	url = https://github.com/hotjuicew/hugo-JuiceBar.git
[submodule "public"]
	path = public
	url = https://github.com/teeramaet/teeramaet.github.io.git
	branch = main
